{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="assets/css/plateau-de-jeu.css" rel="stylesheet" />
{% endblock %}

{% block body %}
 {# <div id="modal-sort" class="informations-sort">
    <div class="testmodal">
        <div class="sort">
            <div class="ingredient-sort">
                <img src="/assets/image/mandragorefini.png" alt=""/>
                <i class="fas fa-plus-circle"></i>
                <img src="/assets/image/lapis1fini.png" alt=""/>
            </div>
                <i class="fas fa-equals"></i>
                <img src="/assets/image/lapis1fini.png" alt=""/>
                Invisibilité
        </div>
        <div class="sort">
            <div class="ingredient-sort">
                <img src="/assets/image/mandragorefini.png" alt=""/>
                <i class="fas fa-plus-circle"></i>
                <img src="/assets/image/lapis1fini.png" alt=""/>
            </div>
                <i class="fas fa-equals"></i>
                <img src="/assets/image/lapis1fini.png" alt=""/>
                Invisibilité
            </div>
            <div class="sort">
                <div class="ingredient-sort">
                    <img src="/assets/image/mandragorefini.png" alt=""/>
                    <i class="fas fa-plus-circle"></i>
                    <img src="/assets/image/lapis1fini.png" alt=""/>
                </div>
                    <i class="fas fa-equals"></i>
                    <img src="/assets/image/lapis1fini.png" alt=""/>
                    Invisibilité
                </div>
                <div class="sort">
                    <div class="ingredient-sort">
                        <img src="/assets/image/mandragorefini.png" alt=""/>
                        <i class="fas fa-plus-circle"></i>
                        <img src="/assets/image/lapis1fini.png" alt=""/>
                    </div>
                        <i class="fas fa-equals"></i>
                        <img src="/assets/image/lapis1fini.png" alt=""/>
                        Invisibilité
                </div>
                    <div class="sort">
                        <div class="ingredient-sort">
                            <img src="/assets/image/mandragorefini.png" alt=""/>
                            <i class="fas fa-plus-circle"></i>
                            <img src="/assets/image/lapis1fini.png" alt=""/>
                        </div>
                        <i class="fas fa-equals"></i>
                        <img src="/assets/image/lapis1fini.png" alt=""/>
                        Invisibilité
                </div>
             </div>
         </div> #}
    <div class="adversaire-top">
        {% for joueur in listeJoueursAdverse %}
        <div class="joueur-adverse">
            <div class="container-avatar-joueur-plateau">
                <img src="/assets/image/carte-joueur-avatar.png" alt=""/>
                <img class="avatar-joueur-plateau" src="/assets/image/ava{{joueur.avatar}}.jpg" alt=""/>
                <span>{{joueur.pseudo}}</span>
            </div>
            <div class="carte-adversaire">
            {% for carte in joueur.cartes %}
                <img src="/assets/image/carte-dos.png" alt="">
            {% endfor %}            
            </div>
        </div>      
        {% endfor %}  
    </div>

    <div class="joueur-bottom">
        <div class="container-avatar-joueur-plateau">
            <img src="/assets/image/carte-joueur-avatar.png" alt=""/>
            <img class="avatar-joueur-plateau" src="/assets/image/ava{{joueurActuel.avatar}}.jpg" alt=""/>
            <span>{{joueurActuel.pseudo}}</span>
        </div>
        <div class="carte-joueur">
            {% for carte in joueurActuel.cartes %}
                
                <img src="/assets/image/{{carte.type}}.png" value="{{carte.id}} alt=""/>
            {% endfor %}
        </div>
    </div>

{% endblock %}
