{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="assets/css/plateau-de-jeu.css" rel="stylesheet" />
{% endblock %}

{% block body %}
<main>
    <div class="adversaire-top">
        {% for joueur in listeJoueursAdverse %}
        <div class="joueur-adverse">
            <div class="container-avatar-joueur-plateau">
                <img src="/assets/image/carte-joueur-avatar.png" value="{{joueur.id}}" alt=""/>
                <img class="avatar-joueur-plateau" src="/assets/image/ava{{joueur.avatar}}.jpg"  alt=""/>
                <span>{{joueur.pseudo}}</span>
            </div>
            <div class="carte-adversaire">
            {% for carte in joueur.cartes %}
                <img src="/assets/image/carte-dos.png" alt="">
            {% endfor %}            
            </div>
        </div>      
        {% endfor %}  
    </div>
  <div class="message"></div>
  <div class="message-cible">Sélectionnez une cible</div>
  <div class="lancer-sort"></div>
  <div class="passer-tour">Passer son tour</div>
    <div class="joueur-bottom">
      
        <div class="container-avatar-joueur-plateau">
            <img src="/assets/image/carte-joueur-avatar.png" value="{{joueurActuel.id}}" alt=""/>
            <img class="avatar-joueur-plateau" src="/assets/image/ava{{joueurActuel.avatar}}.jpg" alt=""/>
            <span>{{joueurActuel.pseudo}}</span>
        </div>
        <div class="carte-joueur">
            {% for carte in joueurActuel.cartes %}
                <img src="/assets/image/{{carte.type}}.png" value="{{carte.id}}" alt=""/>
            {% endfor %}
        </div>
    </div>
    </main>

{% endblock %}
